* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1250px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.slogan {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  color: #262A3F;
}

.title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  color: #262A3F;
}

.subtitle {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 68px;
  line-height: 1.1;
  color: #262A3F;
}

.text {
  font-family: "Lato";
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
}

.text--selection {
  font-style: italic;
  color: #85BBB1;
}

.btn {
  display: block;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .btn {
    margin: 0 auto;
  }
}
.btn:hover .btn__text {
  color: #262A3F;
}
.btn:hover .btn__text::after {
  background: #262A3F;
}
.btn__text {
  color: #f1897b;
  font-family: "Lato";
  font-weight: 700;
  font-size: 20px;
  line-height: 1x;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
}
.btn__text:after {
  content: "";
  width: 95%;
  height: 13px;
  background: #f1897b;
  opacity: 0.3;
  position: absolute;
  top: 11px;
  left: 8px;
}

.btn--submit {
  border: none;
  background-color: transparent;
  padding: 0;
  display: block;
}
.btn--submit:hover .btn__text {
  color: #262A3F;
}
.btn--submit:hover .btn__text::after {
  background: #262A3F;
}

.input {
  border: none;
  width: 100%;
  padding: 12px;
  margin-bottom: 40px;
  border-bottom: 1px solid #E4E4E4;
  max-width: 470px;
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.08em;
  color: #262A3F;
}
.input:focus {
  border-bottom: 1px solid #F1897B;
}
.input::-moz-placeholder {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.08em;
  color: #262A3F;
  opacity: 0.5;
}
.input::placeholder {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.08em;
  color: #262A3F;
  opacity: 0.5;
}

.video {
  margin-top: 30px;
  margin-right: 40px;
  width: 812px;
  height: 480px;
  border: 2px solid #E4E4E4;
}
@media screen and (max-width: 767px) {
  .video {
    width: 100%;
    margin: 0 auto;
    border: none;
    margin-bottom: 20px;
  }
}

body {
  background: #ffffff;
}
body::after {
  content: "";
  background-image: url(../assets/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -2;
  min-height: 1200px;
}
@media screen and (max-width: 767px) {
  body::after {
    background-position: top;
    min-height: 90vh;
  }
}

.header {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 30px 0;
}
.header__logo {
  padding-left: 20px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}
.header__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .header__list {
    display: none;
    background-color: rgba(38, 42, 63, 0.9);
    gap: 50px;
    width: 100vw;
    height: 100vh;
    z-index: 3;
  }
}
.header__list.active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 4;
  top: 0;
  right: 0;
}
.header__switcher {
  background-color: rgba(38, 42, 63, 0.3);
  padding: 10px;
  margin-right: 20px;
}
@media screen and (max-width: 767px) {
  .header__switcher {
    margin-right: 0;
  }
}
.header__switcher:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.header__switcher:hover .header__switcher--item {
  fill: #262A3F;
}
.header__switcher--item {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.header__burger {
  display: none;
  padding: 20px;
  z-index: 5;
}
@media screen and (max-width: 767px) {
  .header__burger {
    display: inline-block;
  }
}
.header__burger--item {
  width: 40px;
  height: 40px;
  fill: #ffffff;
}

.nav__link {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.08em;
  color: #262A3F;
  text-decoration: none;
  display: inline-block;
}
.nav__link:hover {
  color: #F1897B;
}
@media screen and (max-width: 767px) {
  .nav__link {
    font-size: 24px;
    font-weight: 600;
    color: #F1897B;
    z-index: 4;
  }
  .nav__link:hover {
    color: #ffffff;
  }
}

.hero__container {
  margin-bottom: 280px;
}
@media screen and (max-width: 767px) {
  .hero__container {
    text-align: center;
    margin-bottom: 150px;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 220px;
}
@media screen and (max-width: 767px) {
  .hero__content {
    width: 100%;
    padding-top: 25px;
  }
}
.hero__slogan {
  margin-bottom: 25px;
}
.hero__text {
  margin-bottom: 40px;
}

.about {
  position: relative;
  margin-bottom: 240px;
}
@media screen and (max-width: 767px) {
  .about {
    margin-bottom: 120px;
  }
}
.about::before {
  content: url(../assets/about.png);
  position: absolute;
  top: 0px;
  left: 100px;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .about::before {
    display: none;
  }
}
.about__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 90px;
}
@media screen and (max-width: 767px) {
  .about__container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }
}
.about__content {
  display: flex;
  flex-direction: row;
  width: 70%;
  background: #ffffff;
  opacity: 0.9;
  padding: 40px 0 40px 0;
}
@media screen and (max-width: 767px) {
  .about__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: -1;
  }
}
.about__titles {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .about__titles {
    width: 100%;
  }
}
.about__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (max-width: 767px) {
  .about__item {
    padding: 20px 0;
  }
}
.about__item--border::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #85BBB1;
  width: 82px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
@media screen and (max-width: 767px) {
  .about__item--border::after {
    width: 80%;
    left: 50%;
    padding-bottom: 20px;
  }
}
.about__subtitle {
  margin-bottom: 12px;
}
.about__subtitle--icon {
  display: inline-block;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: #E4E4E4;
}
.about__text--left {
  margin-bottom: 25px;
}
.about__description {
  width: 50%;
  margin: auto auto;
}
@media screen and (max-width: 767px) {
  .about__description {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
.about__text--right {
  padding-right: 60px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .about__text--right {
    padding: 0;
  }
}
.about__item div:last-of-type .about__item::after {
  border-right: none;
}

.benefits {
  margin-bottom: 150px;
}
.benefits__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .benefits__container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.benefits__item {
  width: 45%;
  padding-top: 30px;
  padding-bottom: 140px;
  border-top: 1px solid #E4E4E4;
}
@media screen and (max-width: 767px) {
  .benefits__item {
    width: 100%;
    border-bottom: 1px solid #E4E4E4;
    padding-bottom: 50px;
  }
}
.benefits__slogan {
  margin-bottom: 25px;
}
.benefits__text {
  padding-right: 55px;
}
@media screen and (max-width: 767px) {
  .benefits__text {
    padding: 0;
  }
}

.quote {
  margin-bottom: 150px;
}
.quote__container {
  background-image: url(..assets/quote-background.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  padding: 110px 300px 100px 130px;
}
@media screen and (max-width: 767px) {
  .quote__container {
    padding: 30px;
    text-align: center;
  }
}
.quote__container::after {
  content: url(../assets/quote-icon.png);
  position: absolute;
  width: 90px;
  height: 100px;
  top: 70px;
  left: 80px;
}
.quote__text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.45;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .quote__text {
    text-align: center;
    font-size: 24px;
  }
}
.quote__author {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.08em;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .quote__author {
    text-align: center;
    font-size: 18px;
  }
}

.tablet {
  position: relative;
  margin-bottom: 120px;
}
@media screen and (max-width: 767px) {
  .tablet {
    margin-bottom: 150px;
  }
}
.tablet__container {
  text-align: center;
}
.tablet__video {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .tablet__video {
    margin-bottom: 20px;
  }
}
.tablet__video::after {
  content: url(../assets/tablet.png);
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}
@media screen and (max-width: 1000px) {
  .tablet__video::after {
    display: none;
  }
}

.trading {
  position: relative;
  margin-bottom: 150px;
}
@media screen and (max-width: 767px) {
  .trading {
    margin-bottom: 100px;
  }
}
.trading::before {
  content: url(../assets/trading.png);
  position: absolute;
  top: 0px;
  left: 100px;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .trading::before {
    display: none;
  }
}
.trading__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.trading__content {
  display: flex;
  flex-direction: row;
  width: 70%;
  flex-wrap: wrap;
  background: #ffffff;
  opacity: 0.9;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .trading__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
}
.trading__item {
  padding: 45px 0 65px 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .trading__item {
    width: 100%;
    padding: 10px 0 10px 0;
  }
}
.trading__item--btn {
  padding-top: 80px;
  margin-left: 50px;
}
@media screen and (max-width: 767px) {
  .trading__item--btn {
    padding-top: 20px;
    margin-left: 0;
  }
}
.trading__title {
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 2;
  color: #262A3F;
  margin-bottom: 15px;
}
.trading__text {
  padding-right: 50px;
}
@media screen and (max-width: 767px) {
  .trading__text {
    padding: 0;
  }
}
.trading__btn {
  border: 1px solid #E4E4E4;
  padding: 35px 90px;
  position: relative;
}
.trading__btn:hover {
  border: 2px solid #262A3F;
}

.reviews {
  margin-bottom: 200px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .reviews {
    margin-bottom: 150px;
  }
}
.reviews__content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 767px) {
  .reviews__content {
    display: flex;
    flex-direction: column;
  }
}
.reviews__slogan {
  margin-bottom: 20px;
}
.reviews__text {
  margin-bottom: 40px;
}
.reviews__item {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 50px;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .reviews__item {
    width: 100%;
  }
}
.reviews__item--first {
  background-image: url(../assets/review1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews__item--second {
  background-image: url(../assets/review2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews__item--third {
  background-image: url(../assets/review3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.reviews__item::after {
  content: "";
  background: rgba(25, 28, 41, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.reviews__quote {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  z-index: 2;
}
.reviews__autor {
  font-family: "Playfair Display";
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  z-index: 2;
}

.footer__container {
  border-top: 1px solid #E4E4E4;
}
.footer__content {
  display: flex;
  flex-direction: row;
  margin-bottom: 130px;
  justify-content: space-between;
  padding-top: 120px;
}
@media screen and (max-width: 767px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
    align-items: center;
  }
}
.footer__left {
  width: 40%;
}
@media screen and (max-width: 767px) {
  .footer__left {
    width: 100%;
    margin-bottom: 60px;
  }
}
.footer__slogan {
  margin-bottom: 20px;
}
.footer__right {
  display: flex;
  flex-direction: column;
  width: 40%;
}
@media screen and (max-width: 767px) {
  .footer__right {
    width: 100%;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__btn {
  text-align: start;
}
@media screen and (max-width: 767px) {
  .footer__btn {
    margin: 0 auto;
  }
}
.footer__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .footer__bar {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 5px;
  }
}
.footer__desc {
  font-family: "Lato";
  font-weight: 300;
  font-size: 14px;
  line-height: 1.85;
  color: #262A3F;
  opacity: 0.6;
}
.footer__nav--list {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.footer__nav--link {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.08em;
  color: #262A3F;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}
.footer__nav--link:hover {
  color: #F1897B;
}
/*# sourceMappingURL=style.css.map */